<div class="center jumbotron">
	<h1> Welcome to Bacon n' Eggs</h1>
	
	<h3> This is the homepage for the Bacon n' Eggs keto calculator. </h3>
		<p> Calculate your daily macros, track your meals and see how many macros you have left. Stay on track with Bacon n' Eggs! </p>
	
	<%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
</div>
