<div class="faded_background">
	<h1>New Meal n' Macros!</h1>
<p> For
<div class="dropdown">
	<button class ="btn btn-default dropdown-toggle" type="button" id="mealSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Choose your meal
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="mealSelection">
		<li><a href='#'>Breakfast</a></li>
		<li><a href='#'>Lunch</a></li>
		<li><a href='#'>Dinner</a></li>
		<li><a href='#'>Snack/Dessert</a></li>
	</ul>
</div> 
I had</p>
<table>
	<tr>
		<th>Food</th>
		<th>Calories</th>
		<th>Protein</th>
		<th>Fat</th>
		<th>Carbohydrates</th>
	</tr>
	<tr>
		<td contenteditable="true">Enter what you ate here</td>
		<td contenteditable="true">How many calories did it have?</td>
		<td contenteditable="true">How many grams of protein?</td>
		<td contenteditable="true">What about grams of fat?</td>
		<td contenteditable="true">And how about grams of carbohydrates?</td>
	</tr>
</table>
<small> <button type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Add More Rows</span>
</button>
<button type="button" class="btn btn-default" aria-label="Right Align">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"> Submit</span>
</button> </small>
</div>


