<h1>New Meal n' Macros!</h1>
<p> For</p>
<span class="dropdown">
	<button class ="btn btn-default dropdown-toggle" type="button" id="mealSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Choose your meal
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="mealSelection">
		<li><a href='#'>Breakfast</a></li>
		<li><a href='#'>Lunch</a></li>
		<li><a href='#'>Dinner</a></li>
		<li><a href='#'>Snack/Dessert</a></li>
	</ul>
</span>
<p> I had </p>

